<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<blockquote>
  <div style="text-align:center;display:block;">Not Found 404</div>

  <h1 id="galleryapi">Gallery API</h1>

  <p><a href="http://stadiumticket.ir/register">/register</a> Register User (POST)</p>

  <p><a href="http://stadiumticket.ir/login">/login</a> Login User (POST)</p>

  <p><a href="http://stadiumticket.ir/albums">/albums</a> List And Create Album (GET, POST)</p>

  <p><a href="http://stadiumticket.ir/album/string">/album/:string\<album name></a> Get Details And Update And Delete one Album (GET, PUT, PATCH, DELETE)</p>

  <p><a href="http://stadiumticket.ir/album/album_name/pictures">/album/:string\<album name>/pictures</a> Get List And Create Picture (GET, POST)</p>

  <p><a href="http://stadiumticket.ir/picture/88888888">/picture/:string-8 digit\<id></a> Get Details And Update And Delete one picture (GET, PUT, PATCH, DELETE)</p>

  <p><a href="http://stadiumticket.ir/admin">/admin</a> Your API Control Panel</p>
</blockquote>

</body>
</html>